.main-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
  align-items: center;
  min-height: -webkit-fill-available;
}

.main-container > h1 {
  padding-top: var(--padding-xl);
  text-align: center;
  margin: 0;
}

.main-container .div-card {
  background-color: var(--div-bg);
  border-radius: var(--border-radius);
  padding: var(--padding-l);
  margin-bottom: var(--margin-l);
  box-shadow: var(--box-shadow);
}

.svg-icon {
  width: var(--svg-icon-size-s);
  height: var(--svg-icon-size-s);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.svg-icon svg {
  min-width: 100%;
  min-height: 100%;
  fill: var(--primary-dark);
}

.svg-icon svg line {
  color: var(--primary-dark);
}

.required {
  color: var(--danger-light);
}

.required-border {
  border: var(--border-width-m) var(--border-style) var(--danger);
}

.form-error-msg {
  text-align: center;
}

.infinite-scroll-span {
  color: var(--color-dark);
}

@media (max-width: 992px) {
  .main-container .div-card {
    padding: var(--padding-m);
  }
}
